.header{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/backgrounds/landing.jpg);
    overflow: hidden;

}

.header-logo{
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 300;
    margin: -60px;
}

#menu-icon > img{
    width: 80px;
    padding-top: 80px;
    padding-left: 100px;
}

#header-heading > p{
    color: white;
    font-size: 65px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 45px;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 30px;    
}

#banner-first{
    font-size: 42px;
}