.header{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Images/backgrounds/landing.jpg);

}

.header-elements{
    display: flex;
    justify-content: center;
    padding: 50px;
}

#menu-icon > img{
    width: 80px;
    padding-top: 80px;
    padding-left: 100px;
}

#logo{
    width: 300;
    margin: -50px;
}